/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
}

body{
  background: rgba(2, 53, 94, 2);
  box-sizing: border-box;
}

input, button, table {
  box-shadow: 0 0 3px rgba(0, 0, 5, 0.5); /* Color y desenfoque del sombreado */
  border: 2px solid #ccc; /* Borde del dropdown */
}

.btn-consultar {
  margin-right: 1rem;
}
